body {
  height: 100vh;
    background-image: url('/16bit/epic eclipse blood skuls.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Press Start 2P', sans-serif;
}

h1 {
    text-align: center;
    font-size: 32px;
    margin: 20px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    border: 5px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 5px solid black;
}

th {
  background-color: #88301a;
}

/* tr:nth-child(even) {
  background-color: #1A5276;
}

tr:nth-child(odd) {
  background-color: #1f618d;
} */

tr:first-child {
  /* background-color: #53141f; */
  background-color: rgba(73, 31, 33, 0.5);
}

tr:last-child {
  /* background-color: #53141f; */
  background-color: rgba(73, 31, 33, 0.5)
}

