@font-face {
  font-family: 'castlevania';
  src: url(/Castlevania.ttf) format('truetype');
}

body{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/16bit/aboutus-background.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

h1{
  display: flex; 
  align-items: center;
  font-size: 100px;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
  color: white;
  font-family: 'castlevania', sans-serif;
  /* border: 2px solid red; */
  justify-content: center;
  margin-top: 75px;
  margin-bottom: 50px;
  width: 1000px;
  height: 100px;
  font-weight: bold;
}
header{
  display: flex; 
  align-items: center;
  /* border: 2px solid green; */
  justify-content: center;
  width: 1004px;
  height: 100px;
  margin: 10px;
}

#play-score{
  display: flex; 
  align-items: center;
  border: 2px solid blue;
  margin-left: 15px;

}
#aboutus{
  display: flex; 
  align-items: center;
  border: 2px solid blueviolet;
  margin-right: 15px;
}

main{
  display: flex;
  border: 2px solid magenta;
  width: 1000px;
  height: 700px;
  margin: 10px;
}

#about-div{
  display: flex;
}

.box1, .box2, .box3 {
  flex: 1;
}

#box1{
  display: flex; 
  align-items: center;
  border: 2px solid green;
  width:330px;
  height: 450px;
}
#box2{
  display: flex; 
  align-items: center;
  border: 2px solid green;
  width:330px;
  height: 450px;
}
#box3{
  display: flex; 
  align-items: center;
  border: 2px solid green;
  width: 330px;
  height: 450px;
}

img {
  width: 250px;
  height: 350px;
  align-items: center;
  margin-right: 15px;
}

footer{
  display: flex; 
  align-items: center;
  border: 2px solid purple;
  justify-content: center;
  width: 1000px;
  height: 100px;
  margin: 10px;
}

#ret-urn-button{
  display: inline-block;
  font-size: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  color: white;
  font-family: 'Press Start 2P', sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-image: url('/16bit/blood crop 1 button.png');
  text-decoration: none;
  text-align: center;
  margin-right: 250px;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  transition: background-color 0.3s ease; 
}
#ret-urn-button:hover {
  cursor: pointer;
}

#score-board-button{
  display: inline-block;
  font-size: px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  color: white;
  font-family: 'Press Start 2P', sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-image: url('/16bit/blood crop 2 button.png');
  background-size: fill;
  text-decoration: none;
  text-align: center;
  margin-left: 250px;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  transition: background-color 0.3s ease; 
}

#score-board-button:hover{
  cursor: pointer;
}